
.allowlist-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.company-allowlist-group {
  .btn-wire {
    font-size: 1.8rem;
    font-weight: 400;
    border-width: 0.2rem;
  }
}

.allowlist {
  $frame-color: $color-gray-lightest;
  $body-text-color: $color-white;
  $header-color: $color-black;

  width: 60rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    &:not([open]) {
      .allowlist__summary {
        border-radius: 1rem;
        &::after {
          transform: rotateX(180deg);
        }
      }
    }
  }

  &__summary {
    position: relative;
    padding: 0.9rem 1.2rem;
    color: $header-color;
    background-color: $frame-color;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: background-color 0.1s;

    display: flex;
    align-items: center;

    &:hover { background-color: darken($frame-color, 7%); }
    &:active { background-color: darken($frame-color, 14%); }

    &::after {
      //TODO: Replace with actual triangle SVG
      display: inline-block;
      content: "\0023f6"; /* the new icon */
      position: absolute;
      right: 1rem;
      line-height: 1;
      font-size: 3rem;
      transition: all 0.1s;
    }
  }

  .heading-secondary {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__subgroups {
    // background-color: $color-gray-light;
    color: $body-text-color;
    padding: 0.5rem 2.4rem;
    border: 2px solid $frame-color;
    border-top: none;

    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }

  &__subgroup {
    padding: 1rem 0;
    .heading-tertiary {
      font-size: 1.6rem;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 0.2rem;
    }

    //TODO: Replace icons with actual SVGs
    .btn-solid {
      position: relative;
      border: 0.1rem solid $frame-color;
      font-size: 1.4rem;
      padding: 0;
      height: 2rem;
      line-height: 1;
      word-break: keep-all;

      &.btn-solid--delete {
        @include btn-solid($color-brand-red-dark);
        width: 2rem;
      }

      &.btn-solid--add,
      &.btn-solid--transfer {
        font-size: 1.8rem;
        margin-top: 1rem;
        width: 5rem;
      }

      &.btn-solid--add {
        @include btn-solid($color-brand-green-dark);
      }

      &.btn-solid--transfer {
        @include btn-solid($color-brand-yellow-dark);
      }
    }

    &:not(:last-child) {
      border-bottom: 1.5px solid $frame-color;
      // padding-bottom: 1rem;
    }
  }

  &__subgroup-entries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__entry {
    font-size: 1.4rem;
    border-bottom: 1px dotted $frame-color; //TODO: handle case where non-primary contact is viewing
    padding-bottom: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    &--disabled:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}