.app {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .main {
    padding: 0 2rem;
    flex: 1;
  }

  .footer {
    padding: 1rem 2rem;
    margin-top: 2rem;
    height: 3rem;
    background-color: $color-violet;
  }
}
