.banner {
  position: relative;
  @include full-width-bleed;

  &.banner--header {
    margin-bottom: 7.6rem;
  }

  &__content {
    backdrop-filter: blur(1.5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: inherit;

    display: grid;
    place-content: center;
  };
}
