.btn-wire {
  font-family: $font-primary;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3rem;
    color: $color-white;
    background-color: transparent;
    border: 0.5rem solid $color-white;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    display: inline-block;
    width: min-content;
    padding: 1rem 2.3rem;
    transition: color 0.1s, background-color 0.1s, border-color 0.1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover,
  &:active {
    color: $color-violet-darkest;
  }

  &:hover {
    background-color: $color-white;
  }

  &:active {
    background-color: $color-gray-light;
    border-color: $color-gray-light;
  }

  &:disabled {
    border-color: $color-gray;
    background-color: $color-gray;
    color: $color-black;
    cursor: not-allowed;
  }
}