.btn {
  font-family: $font-header;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3rem;
    color: $color-white;
    white-space: nowrap;
    outline: none;
    border: 0.5rem solid $color-white;
    cursor: pointer;
    display: inline-block;
    width: min-content;
    padding: 0.6rem 2.8rem;
    // transform: matrix(0.97, 0, -0.26, 1, 0, 0);
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      // transform: matrix(1.03, 0, 0.21, 1, 0, 0);
    }
  }
}