.custom-checkbox {
  $root: &;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  background-color: $color-white;
  border: 1.25px solid $color-gray;
  overflow: hidden;
  transition: background-color 0.1s, border-color 0.1s;

  display: grid;
  place-content: center;

  &:has(:focus-visible) {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 3.1px;
  }

  &:hover { border-color: darken($color-gray, 10%); }
  &:active { border-color: darken($color-gray, 20%); }
  &:has(:disabled) {
    background-color: $color-gray-light;
    border-color: $color-gray;
  }

  &:has(:checked) {
    background-color: $color-brand-green-dark;
    border-color: transparent;

    &:hover { background-color: darken($color-brand-green-dark, 5%); }
    &:active { background-color: darken($color-brand-green-dark, 10%); }
    &:has(:disabled) { background-color: $color-gray; }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      content: "\002714";
      text-shadow: $text-shadow;
      line-height: 1;
  
      display: grid;
      place-content: center;
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
  }
}

