.Focus-List {
  .focus-list {
    min-width: max-content;
    width: 25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .focus-container {
      width: 100%;
      margin-bottom: 1rem;

      display: flex;
      // flex-direction: column;
      align-items: center;
  
      .focus {
        width: 100%;
        border: 1px solid white;
        padding: 1rem 0.75rem;
        margin-right: 0.5rem;

        display: flex;
        align-items: center;
    
        &__name {
          color: $color-brand-yellow;
          font-size: 1.2rem;
        }
      }
  
      .buttons {
        align-self: flex-start;
  
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
    
    &__add-button {
      margin-top: 1rem;
    }
  }
}
