.form {
  width: 59.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.form--modal {
    width: 80rem;
    padding: 5rem 9rem;
    border: 0.5rem solid $color-white;
    background-color: rgba($color-violet-darkest, 50%);

    .form__fields {
      margin-bottom: 5rem;
    }

    .form__button-group {
      display: flex;
      gap: 7rem;
    }

    .btn-wire {
      font-size: 2.1rem;
    }
  }

  &__legend {
    font-size: 2.1rem;
    font-family: $font-primary;
    margin-bottom: 0.6rem;
  }

  &__fields {
    margin-bottom: 4rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__field {
    &--input,
    &--select {
      width: 100%;
    }

    &--radio {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .form__field-label {
        margin: 0;
      }
    }

    &--checkbox {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-label {
      font-size: 2.1rem;
      font-family: $font-primary;
      margin-bottom: 0.6rem;

      &.form__field-label--checkbox {
        font-size: 1.6rem;
        font-family: $font-secondary;
        margin: 0;
      }
    }
  }

  &__element {
    font-size: 1.6rem;
    font-family: $font-secondary;
    font-weight: 500;
  }

  &__input,
  &__select {
    width: 100%;
    height: 4rem;
    padding: 0 0.7rem;

    &--error {
      background-color: lighten($color-brand-red-light, 15%);

      option {
        background-color: $color-white;
      }
    }
  }

  &__select {
    cursor: pointer;
  }

  &__field-error-text {
    color: $color-brand-red-light;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: $font-secondary;
    text-transform: uppercase;
    margin-top: 0.8rem;
  }

  .link {
    $color: $color-brand-green;
    font-size: 2.1rem;
    font-family: $font-primary;
    transition: 0.1s;

    &:link,
    &:visited { color: $color; }
    &:hover { color: lighten($color, 10%); }
    &:active { color: lighten($color, 20%); }
  }

  &__note {
    font-size: 1.4rem;
    line-height: 1.5;
    align-self: flex-start;

    &--warning {
      color: $color-brand-yellow;
    }
  }

  &.form--small {
    .form__legend {
      font-size: 1.8rem;
    }

    .form__field {
      &-label {
        font-size: 1.8rem;

        &.form__field-label--checkbox {
          font-size: 1.4rem;
        }
      }
    }

    .form__element {
      font-size: 1.4rem;
      font-family: $font-secondary;
      font-weight: 500;
    }

    .form__input,
    .form__select {
      height: 3.3rem;
    }     

    .form__field-error-text {
      font-size: 1.2rem;
    } 

    .btn-wire {
      font-size: 2.4rem;
    }
  }
}
