.masthead {
  position: sticky;
  z-index: 1000;
  background-color: rgba($color-violet-darkest, .97);
  box-shadow: 0 0.2rem 1rem rgba($color-black, 0.7);
  top: 0;
  padding: 1.485rem 2rem;

  display: flex;
  align-items: center;
  // gap: 3rem;

  &__logo-container {
    height: 3.6rem;
    margin-right: 5rem;

    &--push-right {
      margin-right: auto;
    }

    @media only screen and (max-width: 1240px) {
      height: 3rem;
    }
  }

  &__logo {
    height: 100%;

    &.masthead__logo {
      
    }
  }
}
