// TODO: Remove garbage styles
.nav {
  color: white;
  height: 100%;
  flex: 1;

  display: flex;
  align-items: center;

  @media screen and (max-width: 1240px) {
    align-items: unset;
    // padding: 4rem;
  }

  &__list {
    list-style: none;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: 1240px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &--push-left {
      margin-left: auto;

      @media screen and (max-width: 1240px) {
        margin-left: unset;
      }
    }
  }

  &__item--name,
  &__profile-button {
    background-color: $color-brand-green-darker;
    padding: 0.2rem 0.4rem;
  }

  &__link,
  &__button {
    font-size: 2rem;
    font-family: $font-primary;
    transition: color 0.15s;
    word-break: keep-all;
    white-space: nowrap;

    @media screen and (max-width: 1240px) {
      font-size: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
    }

    @include nav-item-hover($color-brand-green-light);
  }

  &__button {
    @include text-shadow;
    padding: 0.5rem 1rem;
    min-width: max-content;
    width: 9rem;
    word-break: break-all;
    cursor: pointer;
    transition: all 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;

    &,
    &:link,
    &:visited {
      color: $color-white;
    }

    &.nav__button--login,
    &.nav__button--profile {
      @include btn-solid($color-brand-green-dark);
      // margin-left: auto;
    }

    &.nav__button--logout {
      @include btn-solid($color-brand-red-dark);
    }

    &.nav__button--register,
    &.nav__button--settings {
      @include btn-solid($color-brand-yellow-dark);
    }
  }
}

.nav--desktop {

}

.nav--mobile {

}
