// TODO: Remove garbage styles
@mixin nav-button($background-color) {
  color: $color-white;
  background-color: $background-color;

  &:hover {
    background-color: darken($background-color, 2.5%);
    transform: scale(0.99);
  }
  &:active {
    background-color: darken($background-color, 5%);
    transform: scale(0.98);
  }
}

.nav {
  color: white;
  padding: 1.485rem 1.8rem;
  height: 7.4rem;

  display: flex;
  align-items: center;

  &__list {
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__item {
    height: 100%;

    display: flex;
    align-items: center;

    &--logo {
      margin-right: auto;
    }
  }

  &__item--name,
  &__profile-button {
    background-color: $color-brand-green-darker;
    padding: 0.2rem 0.4rem;
  }
  
  &__link--logo-container {
    height: 100%;
    margin-right: auto;
    display: inline-block;
  }

  &__logo {
    height: 100%;
    margin-right: auto;
  }

  &__link,
  &__button {
    font-size: 2.5rem;
    font-family: $font-primary;
    transition: color 0.15s;
  }

  &__link {
    $hover-color: $color-brand-green;

    &:link,
    &:visited {
      color: $color-white;
    }

    &:hover {
      color: lighten($hover-color, 10%);
    }

    &:active {
      color: darken($hover-color, 5%);
    }
  }

  &__button {
    color: $color-white;
    text-shadow: -0.1rem 0.1rem 0.1rem #303030;
    padding: 1rem 1rem;
    width: 13.4rem;
    height: 4.3rem;
    word-break: break-all;
    cursor: pointer;
    transition: all 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;

    &.nav__button--login,
    &.nav__button--profile {
      @include nav-button($color-brand-green-darker);
    }

    &.nav__button--logout {
      @include nav-button($color-brand-red-dark);
    }

    &.nav__button--register {
      @include nav-button($color-brand-yellow-darker);
    }

    &::selection {
      text-shadow: none;
    }
  }
}
