@mixin time-button-hover($background-color, $lighten: false) {
  background-color: $background-color;
  @include text-shadow;

  &:not(.table__time-button--disabled):hover {
    @if $lighten == false {
      &:hover { background-color: darken($background-color, 5%); }
      &:active { background-color: darken($background-color, 10%); }
    }
    @else {
      &:hover { background-color: lighten($background-color, 10%); }
      &:active { background-color: lighten($background-color, 15%); }
    }
  }
}

.timetable {
  //TODO: Remove
  width: 60rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__registration-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__message {
    text-align: center;
    line-height: 1.4;

    &.timetable__message--dark {
      background-color: $color-violet-darkest;
      padding: 0.5rem 1rem;
    }
  }
  
  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.table--representative-fair {
      width: min-content;
    }

    .table__rows {
      color: $color-black;
      border: 2px solid $color-violet-darkest;
      width: 100%;
      overflow-x: auto;

      display: flex;
      flex-direction: column;

      .table__row {
        position: relative;

        display: grid;

        &--student { grid-template-columns: 9.8rem repeat(2, 42fr); }
        &--volunteer{ grid-template-columns: 9.8rem repeat(3, 28fr); }
        &--assignment { grid-template-columns: 9.8rem 84fr; }
        &--representative-fair { grid-template-columns: 1fr; }

        &:not(:last-child):not(.table__row--header) {
          .table__cell {
            border-bottom: 1px solid $color-white;
          }
        }

        &:not(.table__row--header) {
          &:nth-child(even) {
            .table__cell:not(.table__cell--time) {
              background-color: darken($color-gray-lightest, 15%);

              .student-select-form {
                background-color: darken($color-gray-lightest, 15%);
              }
            }

            .table__cell--time {
              box-shadow: 2px 0 2px darken($color-gray, 5%);
            }
          }
  
          &:nth-child(odd) {
            .table__cell:not(.table__cell--time) {
              background-color: $color-gray-lightest;

              .student-select-form {
                background-color: $color-gray-lightest;
              }
            }
          }

          .table__cell--time {
            box-shadow: 2px 0 2px $color-gray;
          }
        }

        &--header {
        }

        .table__cell {
          padding: 1rem;
          font-family: $font-secondary;
          // height: 4.4rem;
          min-width: 17rem;
          //TODO: test on Safari
          @include word-break;

          display: flex;
          align-items: center;

          &:not(:last-child):not(.table__cell--time) {
            border-right: 1px solid $color-violet-darkest;
          }

          &--time {
            padding: 0;
            position: sticky;
            z-index: 1;
            left: 0;
            min-width: unset;
            width: 9.8rem;
            // box-shadow: 2px 0 2px darken($color-gray, 5%);
            // border-right: 2px double $color-violet-darkest !important;
            &.table__cell--header {
              box-shadow: 2px 0 2px darken($color-violet-darkest, 5%);
              background-color: $color-violet-darkest;
              color: $color-white;
            }
          }

          &--stretch {
            width: 100%;
          }

          &--name {
          }

          &--email {
          }

          &--assignee {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }

          &--header  {
            font-size: 1.8rem;
            font-weight: 700;
            // background-color: lighten($color-violet-darkest, 15%);
            background-color: $color-violet-darkest;
            color: $color-white;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          a {
            $color: $color-black;

            &:link,
            &:visited {
              color: $color;
              text-decoration: underline 0.05rem solid currentColor;
              text-underline-offset: 0.3rem;
              transition: 0.1s;
            }

            &:hover {
              color: lighten($color, 10%);
            }

            &:active {
              color: lighten($color, 30%);
            }
          }
        }

        .table__time-button {
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: $color-violet-darkest;
          color: $color-white;
          font: inherit;
          font-family: $font-primary;
          font-size: 1.8rem;
          border: none;
          cursor: pointer;
          transition: all 0.1s;

          display: flex;
          justify-content: center;
          align-items: center;

          &--disabled {
            cursor: unset;
          }

          &--empty {
            @include time-button-hover($color-violet-darkest, true);
          }

          &--green {
            @include time-button-hover($color-brand-green-dark);
          }

          &--yellow {
            @include time-button-hover($color-brand-yellow-dark);
            }

          &--red {
            @include time-button-hover($color-brand-red-dark);
          }
        }
      }
    }
  }
}
