.Meeting-Assignment-Sheet {
  width: 50%;
  background-color: $color-violet;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  button {
    align-self: flex-start;
  }
}

.Volunteer-Timetable {
  //TODO: Remove
  width: 100%;
  
  .table {
    .table__rows {
      color: $color-black;
      display: flex;
      flex-direction: column;

      .table__row {
        display: grid;
        grid-template-columns: 16fr 84fr;

        &:not(:last-child):not(.table__row--header) {
          .table__cell {
            border-bottom: 1px solid $color-white;
          }
        }

        &:not(.table__row--header) {
          &:nth-child(even) {
            .table__cell:not(.table__cell--time) {
              background-color: $color-gray-light;
            }
          }
  
          &:nth-child(odd) {
            .table__cell:not(.table__cell--time) {
              background-color: $color-white;
            }
          }
        }

        &--header {
          .table__cell {
            background-color: $color-violet-darkest;
            font-size: 1.6rem;
            color: $color-white;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .table__cell {
          padding: 1rem;

          &:not(:last-child):not(.table__cell--time) {
            border-right: 1px solid $color-violet-darkest;
          }

          &--time {
            padding: 0;
            // display: flex;
            // justify-content: center;
            // align-items: center;
          }

          &--name {
            select {
              width: 50%;
            }
          }
        }

        .table__time-block {
          width: 100%;
          height: 100%;
          padding: 1rem;
          background-color: $color-violet-darkest;
          color: $color-white;
          font-family: $font-header;
          font-size: 1.8rem;

          display: flex;
          justify-content: center;

          &--available {
            background-color: $color-brand-yellow-dark;
          }

          &--adding {
            background-color: $color-brand-green-dark;
          }

          &--deleting {
            background-color: $color-brand-red-dark;
          }
        }
      }
    }
  }
}