.Volunteer-Timesheet {
  //TODO: Remove
  background-color: $color-violet;
  padding: 3rem;
  width: 50%;
  
  .table {
    .table__rows {
      color: $color-black;
      display: flex;
      flex-direction: column;

      .table__row {
        display: grid;
        grid-template-columns: 16fr repeat(3, 28fr);

        &:not(:last-child):not(.table__row--header) {
          .table__cell {
            border-bottom: 1px solid $color-white;
          }
        }

        &:not(.table__row--header) {
          &:nth-child(even) {
            .table__cell:not(.table__cell--time) {
              background-color: $color-gray-light;
            }
          }
  
          &:nth-child(odd) {
            .table__cell:not(.table__cell--time) {
              background-color: $color-white;
            }
          }
        }

        &--header {
          font-size: 1.4rem;
          color: $color-white;

          .table__cell {
            background-color: $color-violet-darkest;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .table__cell {
          padding: 1rem;

          &:not(:last-child) {
            border-right: 1px solid $color-violet-darkest;
          }

          &--time {
            background-color: $color-violet-darkest;
            color: $color-white;

            // display: flex;
            // justify-content: center;
            // align-items: center;
          }

          &--name {
          }

          &--portfolio {
          }

          &--resume {
          }
        }
      }
    }
  }
}