@mixin media-max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin subpage {
  position: relative;
  background-color: $color-violet;
  width: fit-content;
  padding: 4rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

@mixin word-break {
  word-break: break-all;
  @supports(hyphens: auto) {
    hyphens: auto;
    word-break: unset;
  }
}

@mixin full-width-bleed {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 2rem;
}

@mixin banner-background-image($url, $color) {
  background-size: cover;
  background-image: linear-gradient(rgba($color, 0.75), rgba($color, 0.75)),
                    url($url);
}

@mixin btn-solid($background-color) {
  background-color: $background-color;

  &:hover {
    background-color: darken($background-color, 2.5%);
    transform: scale(0.99);
  }
  &:active {
    background-color: darken($background-color, 5%);
    transform: scale(0.98);
  }
}

@mixin nav-item-hover($hover-color) {
  &:hover {
    color: lighten($hover-color, 10%);
  }

  &:active {
    color: darken($hover-color, 5%);
  }
}
