@mixin btn-solid($background-color) {
  background-color: $background-color;

  &:hover {
    background-color: darken($background-color, 2.5%);
    transform: scale(0.99);
  }
  &:active {
    background-color: darken($background-color, 5%);
    transform: scale(0.98);
  }
}

@mixin subpage {
  position: relative;
  background-color: $color-violet;
  width: fit-content;
  padding: 4rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

@mixin word-break {
  word-break: break-all;
  @supports(hyphens: auto) {
    hyphens: auto;
    word-break: unset;
  }
}
