$color-brand-green: #4ABFAD;
$color-brand-red: #F04E26;
$color-brand-yellow: #F5B52A;

$color-blue-darkest: #20202C;

$color-gray-light: #BFBFBF;
$color-gray-lightest: #f7f7f7;

$color-white: #fff;

$font-header: 'Bebas Neue', cursive;
$font-body: 'Montserrat', sans-serif;
