$color-brand-green: #4ABFAD;
$color-brand-red: #F04E26;
$color-brand-red-light: #FF7452;
$color-brand-yellow: #F5B52A;
$color-brand-yellow-dark: #C48600;

$color-violet-darkest: #20202C;

$color-violet: #6767A0;

$color-gray: #808080;
$color-gray-light: #BFBFBF;
$color-gray-lightest: #f7f7f7;

$color-black: #000;
$color-white: #fff;

$font-header: 'Bebas Neue', cursive;
$font-body: 'Montserrat', sans-serif;
