$color-brand-green-darker: #038874;
$color-brand-green-dark: #00AD92;
$color-brand-green: #4ABFAD;
$color-brand-green-light: #71D3C4;

$color-brand-red-darker: #9b2203;
$color-brand-red-dark: #C02600;
$color-brand-red: #F04E26;
$color-brand-red-light: #FF7452;

$color-brand-yellow-light: #EBBE5D;
$color-brand-yellow: #F5B52A;
$color-brand-yellow-dark: #C48600;
$color-brand-yellow-darker: #a37000; //TODO: Temporary until gotten real color

$color-violet-darkest: #20202C;
$color-violet-dark: #303040;
$color-violet: #6767A0;
$color-violet-light: #BFBFD9;

$color-gray: #808080;
$color-gray-light: #BFBFBF;
$color-gray-lightest: #f7f7f7;

$color-black: #000;
$color-white: #fff;

$font-primary: 'Bebas Neue', cursive;
$font-secondary: 'Montserrat', sans-serif;
