.home-page {
  .banner--hero {
    min-height: 40rem;
    padding: 2rem;
    background-position: 50% 75%;
    @include banner-background-image('/Images/happy-crowd-01.png', $color-brand-green-dark);

    .heading-primary {
      margin-bottom: 2rem;
    }

    .intro-text {
      max-width: 100rem;
      font-size: 1.8rem;
      line-height: 1.3;
      text-align: center;
    }
  }
}
