.signup-page {
  padding-bottom: 6.6rem;

  //TODO: Implement custom select/radio styles from mockups
  .signup-form {
    width: 59.2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__fields {
      margin-bottom: 4rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }

    &__usertypes {
      margin-bottom: 2rem;

      .signup-form__usertypes-legend {
        font-family: $font-primary;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      .signup-form__radio-buttons {
        width: 100%;

        display: flex;
        justify-content: space-around;
      }
    }

    .field {
      &.field--input,
      &.field--select {
        width: 100%;
      }

      &.field--radio {
        display: flex;
        align-items: center;

        .field__label {
          display: inline-block;
          margin: 0;
          margin-left: 0.3rem;
        }
      }

      &__label {
        font-size: 2.1rem;
        font-family: $font-primary;
        margin-bottom: 0.6rem;
      }

      &__input,
      &__select,
      &__radio {
        font-size: 1.6rem;
        font-family: $font-secondary;
        font-weight: 500;
      }

      &__input,
      &__select {
        width: 100%;
        height: 4rem;
        padding: 1rem 0.7rem;

        &--error {
          background-color: lighten($color-brand-red-light, 15%);

          option {
            background-color: $color-white;
          }
        }
      }

      &__error-text {
        color: $color-brand-red-light;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: $font-secondary;
        text-transform: uppercase;
        margin-top: 0.8rem;
      }
    }

    .link {
      $color: $color-brand-green;
      font-size: 2.1rem;
      font-family: $font-primary;
      transition: 0.1s;

      &:link,
      &:visited { color: $color; }
      &:hover { color: lighten($color, 10%); }
      &:active { color: lighten($color, 20%); }
    }

    .btn-wire {
      width: 20.2rem;
      margin-bottom: 4rem;
    }
  }
}