.signup-page {
  padding-bottom: 6.6rem;

  //TODO: Implement custom select/radio styles from mockups
  .signup-form {
    width: 59.2rem;
    margin: 0 auto;

    &__fields {
    }

    &__usertypes {
      margin-bottom: 2rem;

      .signup-form__usertypes-legend {
        font-family: $font-primary;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      .signup-form__radio-buttons {
        width: 100%;

        display: flex;
        justify-content: space-around;
      }
    }

    .btn-wire {
      width: 20.2rem;
      margin-bottom: 4rem;
    }

    &.form--small {
      .signup-form__usertypes-legend {
        font-size: 3rem;
      }
    }
  }
}