*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: 0.05s;

  @media only screen and (max-width: 525px) {
    font-size: 55%;
  }
}

body {
  background-color: $color-violet-darkest;
  font-family: $font-body;
  color: $color-white;

  &.body--modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

::selection {
  background-color: $color-brand-green;
  color: $color-black;
}

// TODO: Remove temporary stylings

.error {
  color: $color-brand-red-light;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  input {
    margin-left: 1rem;
  }
}

.register-button {
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    color: #ddd;
  }
}

a {
  &:visited,
  &:link {
    text-decoration: none;
    color: #99ffff;
  }
}

.profile-page {
  .split {
    display: flex;
    gap: 2rem;
  }
}

.allowlists {
  border: 1px solid $color-white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}

.allowlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .heading-secondary {
    color: $color-brand-yellow;
  }
  
  li {
    text-align: right;
  }

  .heading-tertiary {
    margin-bottom: 0.2rem;
  }

  ul {
    list-style: none;

    li {
      text-align: right;
      margin-left: 2rem;
    }
  }

  &__entry {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  &__entry-form {
    margin: 1rem 0;
    border-bottom: 1px solid $color-white;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.FAQs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .FAQ-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .FAQ {
      width: 100%;
      border: 1px solid white;
      padding: 1rem;
  
      &__question {
        margin-bottom: 1rem;
        color: $color-brand-yellow;
      }
    }

    .buttons {
      align-self: flex-start;

      display: flex;
    }
  }
}

.editor-wrapper {
  border: 1px solid white;
}

.toolbar {
  color: $color-black;
}
