*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: 0.05s;

  @media only screen and (max-width: 525px) {
    font-size: 55%;
  }
}

body {
  background-color: $color-blue-darkest;
  font-family: $font-body;
  color: $color-white;
}

::selection {
  background-color: $color-brand-green;
  color: $color-black;
}

// TODO: Remove temporary stylings

.error {
  color: $color-brand-red-light;
}

form {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  input {
    margin-left: 1rem;
  }
}

.register-button {
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    color: #ddd;
  }
}

a {
  &:visited,
  &:link {
    text-decoration: none;
    color: #99ffff;
  }
}

.profile-page {
  .split {
    display: flex;
    gap: 2rem;
  }
}

.allowlists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.allowlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .heading-secondary {
    color: $color-brand-yellow;
  }

  li {
    margin-left: 2rem;
  }
}
