*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: 0.05s;

  @media only screen and (max-width: 525px) {
    font-size: 55%;
  }
}

body {
  background-color: $color-violet-darkest;
  font-family: $font-body;
  color: $color-white;

  &.body--modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

::selection {
  background-color: $color-brand-green;
  color: $color-black;
}

// TODO: Remove temporary stylings

.error {
  color: $color-brand-red-light;
}

form {
  width: 30rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;

  .field {
    width: 100%;
    label {
      width: 100%;
    }
  }

  input:not([type="radio"]) {
    width: 100%;
  }
  
  // .select-container {
  //   width: 100%;
  // }

  select {
    width: 100%;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0.5rem;
    }
  }

  label {
    p {
      font-size: 1.1rem;
      margin-right: 1rem;
    }
  }
}

.register-button {
  &:link,
  &:visited {
    color: white;
  }

  &:hover {
    color: #ddd;
  }
}

a {
  &:visited,
  &:link {
    text-decoration: none;
    color: #99ffff;
  }
}

.profile-page {
  &__split {
    display: flex;
    gap: 2rem;
  }

  &__nav {
    list-style: none;
    width: min-content;
    white-space: nowrap;
  }
  &__subpage {
    flex: 1;
  }
}

.allowlists {
  margin-bottom: 2rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.allowlist {
  border: 1px solid $color-white;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .heading-secondary {
    color: $color-brand-yellow;
  }

  &__subgroup {
    .heading-tertiary {
      margin-bottom: 0.2rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid white;
      padding-bottom: 1rem;
    }

    &-entries {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & > button {
      width: 6rem;
    }
  }

  &__entry {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
}

.FAQs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .FAQ-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .FAQ {
      width: 100%;
      border: 1px solid white;
      padding: 1rem;
  
      &__question {
        margin-bottom: 1rem;
        color: $color-brand-yellow;
      }
    }

    .buttons {
      align-self: flex-start;

      display: flex;
    }
  }
}

.FAQ-Form {
  width: 100%;
  max-width: 80rem;
  
  textarea {
    width: 100%;
  }

  .toolbar {
    background-color: rgba($color-black, 0.2);
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid white;

    .rdw-option-wrapper,
    .rdw-dropdown-wrapper {
      border: none;
      background-color: $color-brand-yellow;
    }
  }

  button {
    margin-top: 2rem;
    margin-right: 1rem;
  } 
}

.editor-wrapper {
  border: 1px solid white;
}

.toolbar {
  color: $color-black;
}
