*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: 0.05s;

  @media only screen and (max-width: 525px) {
    font-size: 55%;
  }
}

body {
  background-color: $color-blue-darkest;
  font-family: $font-body;
  color: $color-white;
}

::selection {
  background-color: $color-brand-green;
  color: $color-black;
}

.error {
  color: yellow;
}
